<div class="container">
    <div class="row">
        <div class="col">
            <a routerLink="/musculacion" routerLinkActive="active">
                <img src="assets/images/muscu.png" alt="" >
            </a>
            <h1 class="text-center">Musculación</h1>
        </div>
        <div class="col" routerLink="/" routerLinkActive="active">
            <img src="assets/images/funcional.png" alt="">
            <h1 class="text-center">Funcional</h1>
        </div>

        <div class="col" routerLink="/crossfit" routerLinkActive="active">
            <img src="assets/images/crossfit.png" alt="">
            <h1 class="text-center">Crossfit</h1>
        </div>
    </div>
     <div class="row">
        <div class="col">
            <img src="assets/images/natacion.png" alt="">
            <h1 class="text-center">Natación</h1>
        </div>
        <div class="col" >
            <img src="assets/images/zumba.png" alt="">
            <h1 class="text-center">Zumba</h1>
        </div>

        <div class="col">
            <a routerLink="/" routerLinkActive="active">
                <img src="assets/images/halterofilia.png" alt="">
            </a>
            
            <h1 class="text-center">Halterofilia</h1>
        </div>
    </div>
</div>
