
.navbar{
    background-color: #000000e8;
    color: rgb(245, 114, 0);
    padding: 40px;
}
.navbar-brand{
    font-size: 3rem;
    font-weight: bold;
    color: rgba(255, 123, 7, 0.931);
    margin-left: 20%;
}
a{
    margin-left: 30px;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-decoration: none;  
}
a:hover{
    color: rgb(245, 114, 0);
    border-bottom: 2px solid rgb(245, 114, 0);
}