<div class="container">
    
    
    <div class="row">
        <div class="col-md-4 action-item">
            <a routerLink="/people" routerLinkActive="active"><img src="assets/images/people.png" alt="Didddsciplina"></a>
        </div>
        <div class="col-md-4 action-item">
            <a href="/disciplines-grid"><img src="assets/images/disciplines.png" alt="Didddsciplina"></a>
        </div>
         <div class="col-md-4 action-item">
            <a href="#"><img src="assets/images/prices.png" alt="Didddsciplina"></a>
        </div>
    </div>
    
    <div class="row mt-4">
        <div class="col-md-12">
        <p>More actions will be added soon!</p>
        </div>
    </div>
</div>